.structure{
    height: 190px;
    width: 350px;
    border: 2px solid black;
    margin: 20px;
}
.clg-info{
    background-color: rgb(150, 78, 45);
    color: white;
    font-size: 18px;
    text-align: center;
    height: 70px;

}
.student-info{
    background-color: aliceblue;
    color: purple;
    padding-left: 140px;
    font-size: 19px;
    height: 120px;
}
.student-img{
    margin: 0px;
    padding:0px ;
    height: 100px;
    position: absolute;
    left: 50px;
    border: 2px  blue double;
    border-radius: 5px;
    margin-top: 5px;
}
